/* Define variables for colors and font sizes */
:root {
  --font-family: "Font", sans-serif;
  --color-text: #bac2de; /* Regular7 - Subtext 1 */
  --color-background: #1e1e2e; /* Base */
  --color-blue: #89b4fa; /* Regular4 - blue */
  --color-green: #a6e3a1; /* Regular2 - green */
  --color-pink: #f5c2e7; /* Bright5 - pink */
}

/* Use variables for colors and font family */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  background: var(--color-background);
  padding: 1em;
  font-family: var(--font-family);
  min-height: 100vh;
}

/* Other styles remain mostly unchanged */
img {
  margin: 20px auto;
  height: 130px;
  width: auto;
  border-radius: 50%;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60em; /* Set a max-width to limit content width if needed */
    position: relative; /* Make sure the content div is relatively positioned */
    z-index: 1; /* Set a lower z-index for the content div */
}

h1 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
  color: var(--color-blue);
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
  color: var(--color-green);
  text-align: left;
  margin-bottom: 2.3em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 60em;
}

.search-bar {
  text-align: left;
  margin-top: 1em;
}

.linkss {
  display: flex;
}

.category {
  text-align: center;
  margin: 1em;
  padding: 1.2em;
  background-color: #24273A;
  border-radius: 5px;
  box-shadow: 0px 5px 15px rgba(30, 30, 46, 0.5);
}

h3 {
  font-size: 1.2em;
  font-weight: 600;
  color: #fab387;
  margin-bottom: 0.5em;
}

ul {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  list-style-type: none;
}

li {
  line-height: 1.0em;
  padding: 3px;
  color: #45475a;
}

li:first-child {
  display: inline-block;
  color: #f5c2e7;
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  line-height: 2em;
  margin-left: 2.5em;
}

a {
  color: #f5c2e7;
  font-size: 1.1em;
  text-decoration: none;
}

a:hover {
  color: #a6e3a1;
  font-style: italic;
}

form {
  padding: 2px;
  margin: 2px;
  position: relative;
  width: 30rem;
  background: var(--color-brand);
  border-radius: 8px;
  box-shadow: 0px 5px 15px rgba(30, 30, 46, 0.5);
}

input,
button {
  height: 2em;
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1.5rem;
  padding: 0.5em;
}

input[type="text"] {
  outline: 0;
  width: 100%;
  background: var(--color-light);
  padding: 0.5em 1.6em;
  border-radius: 8px;
  appearance: none;
  transition: all 0.3s ease;
  z-index: 1;
  position: relative;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 8px 8px 0;
}

input:not(:placeholder-shown) {
  border-radius: 8px 0 0 8px;
  width: calc(100% - 6rem);
}

label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
